
# ==============================
# Frontend Config
# ==============================
# URL of the backend API that frontend should connect to
NEXT_PUBLIC_API_URL=http://localhost:8000 # Match backend PORT

# Toggle authentication in frontend (true = enabled, false = disabled)
NEXT_PUBLIC_AUTH_ENABLED=true

# Local storage key for auth tokens
NEXT_PUBLIC_TOKEN_KEY=auth_token_data

# For encrytion and decryption of tokens using AES
NEXT_PUBLIC_APP_SALT=poc_study_tool_2024