# Dependency folders
node_modules

# Next.js build output
.next
out

# Build / dist folders
build
dist

# Test coverage
coverage

# Package manager lock files
package-lock.json

# Environment files
.env
.env.* 

# Logs
*.log

# Git keep files
.gitkeep
